# streamlit-ace
# bcrypt
# google-auth-oauthlib==1.2.1
# google-api-python-client==2.149.0
# pyjwt==2.9.0
# extra-streamlit-components==0.1.71

bcrypt
google-auth-oauthlib==1.2.1
google-api-python-client==2.149.0
pyjwt==2.9.0
extra-streamlit-components==0.1.71


streamlit
# streamlit-ace

# new
torch
torchvision         # brings torchvision.datasets.MNIST
numpy
scipy              # KL implementation
scikit-learn         # train/test split utils
